// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@import '../abstracts/variables.scss';
@import '../abstracts/extend.scss';

header {
  background-color: #0085A3;
  display: flex;
  justify-content: space-between;
  height: 113px;
  align-items: center;
  font-family: nth($text-font-stack, 1);

  a,
  a,
  button,
  img,
  span {
    color: #FBFDFE;
  }

  img {
    margin-left: 100px;
  }

  nav {
    margin-right: 100px;

    * {
      /* padding-left: 7px; */
      margin-left: 13px;
      font-weight: 600;
    }
  }

  button {
    @extend %button;
    width: 190px;
  }
}